@model Cinestvar.Models.Termin

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Termin</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PocetakTermina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PocetakTermina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KrajTermina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KrajTermina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Film)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Film.IdFilma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sala.IdSale)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdTermina">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
