@model IEnumerable<Cinestvar.Models.Termin>

@{
    ViewData["Title"] = "Termini";
}

<h1>Termini</h1>

<p>
    <a asp-action="Create" style="color:azure">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PocetakTermina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KrajTermina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Film)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sala)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PocetakTermina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KrajTermina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Film.NazivFilma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sala.NazivSale)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTermina">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTermina">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTermina">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
