@model Cinestvar.Models.Stavka

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Stavka</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazivStavke)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazivStavke)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpisStavke)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpisStavke)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipStavke)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipStavke)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdStavke">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
